/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
*{
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #B6B6B6;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #B6B6B6;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #B6B6B6;
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #B6B6B6;
 }

 input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
 input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
 input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
 input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
 input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
 input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
 input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
 input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


body{
    background-color: #F2F2F2;
    font-family: "Montserrat";
    font-weight: 600;
}

.header{
    padding: 21px 133px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.user-name-header{
    width: fit-content;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.user-img img{
    width: 35px;
}

.user-img{
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 100px;
    margin-right: 10px;
}


.user-setting-btn{
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.user-setting-btn img{
    width: 20px;
}


.create-post-container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 0.25);
    padding: 46px 56px;
}

.create-post-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-post-form textarea{
    font-weight: 600;
    color: #000000;
    border-radius: 20px;
    border: 1px solid #E8E8E8;
    background: #F7F7F7;
    padding: 14px 22px;
    resize: none;
    outline: none;
    margin-top: 10px;
}

.create-post-form input{
    font-weight: 600;
    color: #000000;
    border-radius: 20px;
    border: 1px solid #E8E8E8;
    background: #F7F7F7;
    padding: 14px 22px;
    resize: none;
    outline: none;
    margin-top: 10px;
}

.create-post-button{
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
    background: #9EBDE8;
    color: white;
    margin-left: auto;
    margin-top: 10px;

}
.admin-title{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 30px;
}

.user-setting-btn a{
    display: flex;
   }

   @media (max-width: 770px)  {
    .header{
        padding: 21px 0;
    }
    .user-name-header{
        margin-right: auto;
    }
    .create-post-container{
        width: 72%;
        padding: 25px 25px;
    }
    .create-post-button{
        background: #569DFF;
    }
}