@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/*Обнуление*/

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*--------------------*/

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }


  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #6B6B6B;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #6B6B6B;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #6B6B6B;
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #6B6B6B;
 }
 input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
 input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
 input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
 input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
 input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
 input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
 input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
 input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

a{
    text-decoration: none;
    color: #569DFF;

}
a:focus{
    color: #569DFF;
}

 body{
    background-color: #F2F2F2;
    font-family: "Montserrat";
    font-weight: 600;
}

.header{
    padding: 21px 133px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.user-name-header{
    width: fit-content;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.user-img{
    min-width: 35px;
    min-height: 35px;
    overflow: hidden;
    border-radius: 100px;
    margin-right: 10px;

    img{
        width: 35px;
        height: 35px;
    }
}
/* Сообщение новостной ленты */

.item-feed{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 0.25);
    padding: 46px 56px;
}

.user-name{
    display: flex;
    align-items: center;
}

.user-info{
    display: flex;
    align-items: center;
}
.date-message{
    color: #787878;
    margin-left: 10px;
}

.item-feed-title{
    font-weight: 700;
    font-size: 25px;
    margin-top: 15px;
}

.item-feed-text{
    margin-top: 10px;
}

.item-feed-more-btn{
    cursor: pointer;
    color: #787878;
    margin-top: 5px;
    &::after{
        content: "";
        display: inline-block;
        transform: translateY(-30%);
        width: 10px;
        height: 6px;
        background-image: url(../img/Vector\ 3.svg);
        background-position: center;
        background-size: cover;
        margin-left: 4px;
    }
}

.item-feed-comments-btn{
    cursor: pointer;
    margin-top: 20px;
    width: 10px;
}

/* Комментарии */

.item-feed-comments{
    display: none;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 0.25);
    padding: 46px 56px;
}

.comment-textarea{
    width: 100%;
    display: flex;
    flex-direction: column;
    textarea{
        font-weight: 600;
        color: #000000;
        border-radius: 20px;
        border: 1px solid #E8E8E8;
        background: #F7F7F7;
        padding: 14px 22px;
        resize: none;
        outline: none;
        margin-top: 10px;
        font-family: Montserrat;
    }
    
}


.message-title{
    font-weight: 600;
    color: #000000;
    border-radius: 20px;
    border: 1px solid #E8E8E8;
    background: #F7F7F7;
    padding: 14px 22px;
    resize: none;
    outline: none;
    margin-top: 10px;
}



.comment-btn{
    padding: 4px 17px;
    width: fit-content;
    border-radius: 10px;
    background: #569DFF;
    color: white;
    margin-left: auto;
    margin-top: 10px;
}

.user-info-comment{
    display: flex;
    align-items: center;
}

.comment-message{
    margin-top: 10px;
}

.open{
    display: block;
}

.comment-item{
    margin-top: 30px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.user-setting-btn{
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

    img{
        width: 20px;
    }
    a{
        display: flex;
    }
}




.user-info-adaptive{
    display: none;
}


@media (max-width: 770px)  {
    .header{
        padding: 21px 0;
    }
    .user-name-header{
        margin-right: auto;
        span{
            text-wrap: nowrap;
        }
    }
    .item-feed{
        width: 72%;
        padding: 25px 25px;
    }
    
    .feed-container{
        margin-right: auto;
        margin-left: auto;
    }
    
    
    .date-message{
        margin-right: auto;
    }
    .user-info{
        display: none;
    }
    .user-info-adaptive{
        display: flex;
        img{
            width: 50px;
            height: 50px;
        }
        .user-img{
            width: 50px;
            height: 50px;
        }
    }
    .user-name-adaptive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        span{
            font-size: 13px;
            text-wrap: nowrap;
        }
    }
    .date-message{
        font-size: 12px;
        margin-left: 0;
    }
    .item-feed-comments{
        width: 72%;
        padding: 25px 25px;
    }
    .user-info-comment{
        display: none;
    }

    .comment-btn{
        background: #569DFF;
    }

}


// Конец стилей новостной ленты

// Стили для окна авторизации

.auth-section{
    display: flex;
    align-items: center;
    height: 100vh;
}

.auth-container{
    width: 350px;
    border-radius: 10px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 1);
    border-radius: 20px;
    background: #FFF;

    h3{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    span{
        margin-top: 20px;    
    }
}

.form-auth{
    display: flex;
    flex-direction: column;
    input{
        margin-bottom: 15px;
        outline: none;
        border-radius: 10px;
        border: none;
        background: #F5F5F5;
        padding: 4px 13px;
        height: 35px;
        font-family: Montserrat;
        font-weight: 500;
    }
}

.auth-btn{
    width: 233px;
    padding: 14px 0px 13px 0px;
    border-radius: 10px;
    background: #569DFF;
    color: white;
    margin-top: 30px;
}

@media (max-width: 770px){
    .auth-section{
        height: 90vh;
        display: flex;
        align-items: center;
    }

}

//Конец стилей окна авторизации

//Начало стилей для окна регистрации
.registration-section{
    display: flex;
    align-items: center;
    height: 100vh;
}
.registration-container{
    width: 350px;
    border-radius: 10px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 1);
    border-radius: 20px;
    background: #FFF;

    h3{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    span{
        margin-top: 20px;
    }
}


.form-registration{

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    input{
        margin-bottom: 15px;
        outline: none;
        border-radius: 10px;
        border: none;
        background: #F5F5F5;
        padding: 4px 13px;
        height: 35px;
        font-family: Montserrat;
        font-weight: 500;
    }
    
}

.registration-btn{
    width: 233px;
    padding: 14px 0px 13px 0px;
    border-radius: 10px;
    background: #569DFF;
    color: white;
    margin-top: 30px;
}

.item{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 770px){
    .registration-section{
        height: 90vh;
        display: flex;
        align-items: center;
    }
    .registration-container{
        padding: 0 0 20px 0;
    }
}

//Конец стилей окна регистрации

//Начало стилей окна настроек

.settings-section{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 0.25);
    padding: 46px 56px;
    display: flex;
    justify-content: center;

}
.settings-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        font-size: 30px;
        margin-bottom: 30px;
    }
}

.user-avatar{
    img{
        width: 150px;
    }
    
}

.user-info-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-form{
    display: flex   ;
    flex-direction: column;
    width: 100%;
    align-items: center;

    input{
        font-weight: 600;
        color: #000000;
        border-radius: 10px;
        border: none;
        background: #F5F5F5;
        padding: 14px 22px;
        resize: none;
        outline: none;
        margin-top: 15px;
        font-family: Montserrat;
        font-weight: 500;
        height: 40px;
        width: 230px;
    }
}

.settings-form-name-edit {
    color: #000000;
    border-radius: 20px;
    border: none;
    background: #F5F5F5;
    padding: 14px 22px;
    resize: none;
    outline: none;
    font-family: Montserrat;
    font-weight: 500;
    height: 3px;
    width: 186px;
}

#settings-name{
    white-space: nowrap;
}

.settings-form-btn{
    padding: 10px 20px;
    width: 230px;
    border-radius: 10px;
    background: #569DFF;
    color: white;
    margin-top: 15px;
}

.edit-form-btn{
    padding: 10px 20px;
    width: 230px;

    border-radius: 10px;
    background: #569DFF;
    color: white;
    margin-top: 15px;
}

.edit-form-btn-container{
    display: flex;
    justify-content: center;
}

.settings-form-btn:disabled{
    padding: 10px 20px;
    width: 230px;
    border-radius: 10px;
    background: #b4c6df;
    color: white;
    margin-top: 15px;
}

.delete{
    background: #b53d3d;


}

.user-setting-btn a{
 display: flex;
}

.user-avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100px;
}

.user-avatar-img{
    cursor: pointer;
    width: 100%     ;

    &:hover{
        display: none;
    }
}



.user-avatar-edit{
    cursor: pointer;
}


.back-btn{
    margin-top: 30px;
    margin-left: 40px;
    a{
        text-decoration: none;
        color: #606060;
        &::before{
            content: "";
            display: inline-block;
            width: 15px;
            height: 10px;
            background-image: url(../img/Arrow\ 1.svg);
            background-position: center;
            background-size: cover;
            cursor: pointer;
            margin-right: 10px;
        }
    }
}


.edit-photo{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 100px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.edit-container{
    position: relative;
}

.user-name-settings{
    margin-top: 20px;
    position: relative;
    font-size: 25px;
    display: flex;
    align-items: center;
    img{
        margin-left: 10px;
        cursor: pointer;
    }
}


@media (max-width: 770px){

    .settings-section{
        width: 72%;
        padding: 30px 24px;
    }
    .user-name-settings{
        position: relative;
        font-size: 20px;
    }
}


//Конец стилей настроек


//Начало стилей для станицы админ панели

.create-post-container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 0.25);
    padding: 46px 56px;
}

.create-post-form{
    width: 100%;
    display: flex;
    flex-direction: column;

    textarea{
        font-weight: 600;
        color: #000000;
        border-radius: 20px;
        border: 1px solid #E8E8E8;
        background: #F7F7F7;
        padding: 14px 22px;
        resize: none;
        outline: none;
        margin-top: 10px;
    }

    input{
        font-weight: 600;
        color: #000000;
        border-radius: 20px;
        border: 1px solid #E8E8E8;
        background: #F7F7F7;
        padding: 14px 22px;
        resize: none;
        outline: none;
        margin-top: 10px;
    }
}
.create-post-button{
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
    background: #9EBDE8;
    color: white;
    margin-left: auto;
    margin-top: 10px;

}

.admin-title{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 30px;
}

@media (max-width: 770px)  {
    .create-post-container{
        width: 72%;
        padding: 25px 25px;
    }
    .create-post-button{
        background: #569DFF;
    }
}


// Стили для новостной ленты

.feed-container{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 0.25);
    padding: 46px 56px;
}
.pagination-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    a{
        color: #989898;
        &:not(:last-child){
            margin-right: 5px;
        }
    }
    a:focus{
        color: #000000;
    }
}

.feed-item{
    width: 100%;
    border-radius: 10px;
    background: #ECECEC;
    color: black;
    padding: 30px 30px 15px 30px;
    transition: .3s ease;
    position: relative;
    cursor: pointer;
    &:hover{
        background-color: #dedede;
    }
}
.feed-item-content{
    display: flex;
    flex-direction: column;
    span{
        margin-top: 10px;
    }
}
.feed-item-info{
    display: flex;
}
.feed-item-user-info{
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    margin-left: auto;
    .date-message{
        margin-left: 0;
    }
    .user-info{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
.feed-item-comments{
    img{
        width: 20px;
    }
    span{
        color: #666;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 5px;
    }
    display: flex;
    width: fit-content;
    align-items: center;
    display: flex;
    padding: 5px 10px;
    border-radius: 100px;
    background: #d7d7d7;
    margin-top: 15px;
}

.settings-post-btn{
    position: absolute;
    margin-left: auto;
    width: fit-content;
    height: 30px;
    right: 30px;
    top: 20px;
    cursor: pointer;
    z-index: 212;
}

.feed-item-container{
    margin-top:30px;
    display: flex;
    position: relative;
}
.settings-post{
    
    position: absolute;
    right: -200px;
    top: 30px;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #ECECEC;
    padding: 10px;
    .delete{
        margin-top: 10px;
        color: white;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: transparent;
        padding: 3px;
        background: #b53d3d;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
    }
    .edit{
        color: white;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: transparent;
        padding: 3px;
        background: #569DFF;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
    }
}
.active{
    display: flex;
}



.feed-admin-tools{
    position: absolute;
    left: -200px;
    border-radius: 10px;
    background: #ffffff;
    padding: 20px;
    color: black;
    border: 1px solid #ECECEC;

}

.feed-section{
    position: relative;
    margin: auto;
    width: fit-content;
}

@media (max-width: 770px){
    .feed-container{
        width: 350px;
        padding: 20px 5px;
    }
    .feed-item-content {
        h1{
            font-size: 14px;
        }
        span{
            font-size: 12px;
        }

    }
    .user-info{
        span{
            font-size: 10px;
        }
    }
    .feed-item{
        padding: 35px 15px 5px 15px;
    }
    .feed-item-user-info{
        text-wrap: wrap;
        .user-img{
            width: 30px;
            display: flex;
            height: 30px;
        }
    }
    .settings-post{
        right: 0;
        top: -20px;
    }
}

@media (max-width: 1110px){
    .feed-admin-tools{
        position: absolute;
        left: 0;
        top: -70px;
        border-radius: 10px;
        background: #ffffff;
        padding: 20px;
        color: black;
    
    }
}

//Конец стилей новостной ленты

//Начало стилей для страницы поста

.post-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 0.25);
    padding: 46px 56px;

    .post-title-container{
        font-size: 24px;
        margin-top: 30px;
        display: flex;
        div{
            width: fit-content;
            display: flex;
            align-items: center;
            margin-left: 15px;
            cursor: pointer;
            img{
                width: 20px;
            }
        }
        .post-title{
            display: none;
            align-items: center;
        }
        .active{
            display: flex;
        }
    }
    .post-content-container{
        margin-top: 20px;
        font-size: 16px;
        display: flex;
        align-items: start;
        .post-edit{
            width: fit-content;
            margin-left: 15px;
            display: flex;
            align-items: center;
            img{
                width: 15px;
                cursor: pointer;
            }
        }
        .post-content{
            display: none;
        }
        .post-content-edit{
            font-size: 17px;
            font-family: Montserrat;
            font-weight: 500;
            border-radius: 20px;
            width: 100%;
            border: 1px solid #E8E8E8;
            background: #F7F7F7;
            padding: 14px;
            display: none;
            resize: none;
        }
        .active{
            display: flex;
        }
    }
}
.post-comments-info{
    img{
        width: 25px;
    }
    span{
        color: #666;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 5px;
    }
    display: flex;
    width: fit-content;
    align-items: center;
    display: flex;
    padding: 5px 10px;
    border-radius: 100px;
    background: #d7d7d7;
    margin-top: 20px;
}

.post-comments-container{
    margin-top: 70px;
    h1{
        font-size: 24px;
    }
}

@media (max-width: 770px){
    .post-container{
        width: 85%;
        padding: 20px 30px;
        .post-title{
            font-size: 14px;
            margin-top: 30px;
        }
        .post-content{
            margin-top: 20px;
            font-size: 10px;
        }
        .user-info{
            display: flex;
        }
        .date-message{
            margin-left: 10px;
            margin-right: 0;
        }
        margin-top: 50px;
    }
}


//Страница редактирования поста

.edit-post-title{
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 700;
    border-radius: 20px;
    border: 1px solid #E8E8E8;
    background: #F7F7F7;
    padding: 14px;
    display: none;
}
